@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

:root {
  --page-margin: 13.3%;
  --slider-height: 654px;
}

@font-face {
  font-family: 'Suissnord';
  src: url('/fonts/Suissnord-Regular.woff2') format('woff2'),
       url('/fonts/Suissnord-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Regular.woff2') format('woff2'),
       url('/fonts/Lato-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Bold.woff2') format('woff2'),
       url('/fonts/Lato-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Thin.woff2') format('woff2'),
       url('/fonts/Lato-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Lato';
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  background: url('/images/BG.svg') repeat;
}

h1, h2, h3, h4, h5 {
  font-family: 'Suissnord';
  font-weight: normal;
  font-style: normal;
  line-height: 0.9;
  text-transform: uppercase;
}

h1 {
  font-size: 52px;
  line-height: 40px;
  letter-spacing: 2.5px;
}

h2 {
  font-size: 29px;
  margin-bottom: 32px;
}

a {
  color: inherit;
  text-decoration: none;
}

a.link {
  border-bottom: 1px solid black;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

footer {
  flex: 0 1 289px;
  padding: 25px 13.3%;
  display: flex;

}

footer > div {
  flex: 1;
}

.footerLinks {
  display: flex;
  gap: 16px;
  align-items: center;
  margin: 0 4px;
}

.socialLinks {
  display: flex;
  align-items: baseline;
  gap: 31px;
  height: 25px;
  margin: 15px 4px;
}

/* Swiper styles */
.swiper, .swiper-placeholder {
  flex: 1 1 var(--slider-height);
  margin: 0 var(--page-margin);
  overflow: visible;
  padding-bottom: 67px;
}

.swiper-wrapper {
  display: flex;
  flex: 1;
  align-items: flex-end;
  justify-content: flex-start;
  height: 100%;
}

.swiper-slide {
  flex-grow: 1;
  flex-shrink: 0;
  width: auto;
  height: var(--slider-height);
  display: flex;
  align-items: flex-end;
  width: auto !important;
}

.swiper-slide img {
  max-height: var(--slider-height);
}

.swiper-button-prev,
.swiper-button-next {
  width: 30px;
  height: 30px;
  font-family: 'Suissnord';
  font-weight: normal;
  margin-left: 22px;
  cursor: pointer;
  position: absolute;
  right: 0;
  left: auto;
  top: auto;
  bottom: 30px;
  color: black;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 0.5;
}

.swiper-button-prev {
  right: 30px;
}

.swiper-button-prev::after {
  content: '<';
  font-size: 20px;

}
.swiper-button-next::after {
  content: '>';
  font-size: 20px;
}

.swiper-pagination {
  letter-spacing: 2px;
  font-family: 'Suissnord';
  font-weight: normal;
  width: auto;
  text-align: left;
  bottom: 45px !important;
}

.swiper-pagination-bullet {
  display: none;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  display: block;
  width: auto;
  background: none;
}

/* Animations */
.swiper-slide {
  opacity: 0;
  transition: opacity ease-in 300ms;
}
.swiper-slide:nth-of-type(even) {
  transition-delay: 100ms;
}

.swiper.allow-entrance-animation .swiper-slide {
  opacity: 1;
}

.swiper.allow-slide-animation .swiper-slide-active {
  animation: breathing 1s ease-out normal;
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  50% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.8;
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}